<!DOCTYPE html>
<html>
  <head>
    <title>Pwa - Onebitcode</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <h1 class="header center-align"> Onebitcode </h1>
      <%= yield %>
    </div>
  </body>
</html>
